name: release
on:
  push:
    tags:
      - 'v*'
permissions:
  contents: write
  id-token: write
  packages: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: sigstore/cosign-installer@v4.0.0
      - uses: anchore/sbom-action/download-syft@v0.21.0
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
